{% extends "base.html" %}
{% load staticfiles %}

{% block specific-css %}
  <link rel="stylesheet" href="{% static 'dist/css/style.css' %}">
  <!--<link rel="stylesheet" href="{% static 'css/header.css' %}">-->
{% endblock %}

{% block all-css %}
{% endblock %}

{% block css-navbar %}
{% endblock %}

{% block navbar %}
{% include 'old_new/old/navbar.html' %}
{% endblock %}


{% block content %}
<!--<div id="tiki" class="pad-section">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="text-vcenter">-->
<!--        <h1>PlayTherapy</h1>-->
<!--        <h3></h3>-->
<!--        <a href="#about" class="btn btn-default btn-lg">Continuar</a>-->
<!--      </div>-->
      
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!-- first section - Home -->
<div id="home" class="home">
  <div class="text-vcenter">
    <h1>PlayTherapy</h1>
    <!--<h3>Our catchy phrase here</h3>-->
    <h3></h3>
    <a href="#about" class="btn btn-default btn-lg">Continuar</a>
  </div>
</div>
<!-- /first section -->


<!-- second section - About -->
<div id="about" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img class="img-responsive" src="{% static 'img/logo.png' %}" alt="" />
      </div>
      <div class="col-sm-8 text-center">
        <h2>Acerca de nosotros</h2>
        <p class="lead">El grupo de investigación en Multimedia y Visión de la Universidad del Valle está desarrollando el proyecto Playtherapy: Videojuego de Apoyo a Terapias de Rehabilitación Física en colaboración
        con el Departamento en Medicina Física y Rehabilitación de la misma universidad y la Unidad de Medicina Física y de Rehabilitación del Hospital Universitario del Valle. 
       </p>
      </div>
    </div>
  </div>
</div>
<!-- /second section -->


<!-- third section - Services -->
<div id="services" class="pad-section">
  <div class="container">
    <h2 class="text-center">Características del proyecto</h2> <hr />
    <div class="row text-center">
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon glyphicon-heart-empty"> </i>
        <h4>Mini juegos</h4>
        <p></p>
      </div>
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon glyphicon-dashboard"> </i>
        <h4>Reportes</h4>
        <p></p>
      </div>
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon glyphicon-star"> </i>
        <h4>Indice de movilidad funcional (IMF)</h4>
        <p></p>
      </div>
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon glyphicon-user"> </i>
        <h4>Administración de pacientes y terapeutas</h4>
        <p></p>
      </div>
    </div>
  </div>
</div>
<!-- /third section -->

<!-- fourth section - Information -->
<div id="information" class="pad-section">
  <!--<div class="container">-->
  <!--  <div class="row">-->
  <!--    <div class="col-sm-6">-->
  <!--      <div class="panel panel-default">-->
  <!--        <div class="panel-heading">-->
  <!--          <h2 class="panel-title">Additional information</h2>-->
  <!--        </div>-->
  <!--        <div class="panel-body lead">-->
  <!--          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit adipiscing blandit. Aliquam placerat, velit a fermentum fermentum, mi felis vehicula justo, a dapibus quam augue non massa. Duis euismod, augue et tempus consequat, lorem mauris porttitor quam, consequat ultricies mauris mi a metus. Phasellus congue, leo sed ultricies tristique, nunc libero tempor ligula, at varius mi nibh in nisi. Aliquam erat volutpat. Maecenas rhoncus, neque facilisis rhoncus tempus, elit ligula varius dui, quis amet. -->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="col-sm-6">-->
  <!--      <div class="panel panel-default">-->
  <!--        <div class="panel-heading">-->
  <!--          <h2 class="panel-title">Additional information</h2>-->
  <!--        </div>-->
  <!--        <div class="panel-body lead">-->
  <!--          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit adipiscing blandit. Aliquam placerat, velit a fermentum fermentum, mi felis vehicula justo, a dapibus quam augue non massa. Duis euismod, augue et tempus consequat, lorem mauris porttitor quam, consequat ultricies mauris mi a metus. Phasellus congue, leo sed ultricies tristique, nunc libero tempor ligula, at varius mi nibh in nisi. Aliquam erat volutpat. Maecenas rhoncus, neque facilisis rhoncus tempus, elit ligula varius dui, quis amet. -->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->
</div>
{% endblock %}


<!-- attach JavaScripts -->
{% block specific-js %}
  
{% endblock %}
