{# =================== Importa el archivo base html =================== #}
{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}


{# =============== Titulo ============== #}
{% block title %}
  Playtherapy - Login
{% endblock %}

{# =============== Navbar css ============== #}


{# =================== Estilos propios de esta pagina =================== #}
{% block specific-css %}
    <style type="text/css">
      body {
        padding-top: 140px;
        padding-bottom: 40px;
      }
      
      .float-right{
        display: block;
        float: right;
      }
      
      .form-group {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
      }

    </style>
{% endblock %}


{# =================== Bara de navegacion, se deja vacio para no cargar el navbar por defecto  =================== #}
{% block navbar %}

{% endblock %}


{# ===================  Todo el contenido de la pagina aqui ===================#}
{% block content %}
<div class="container">
  <!--<div class="row">-->
  <!--  <div class="float-right">-->
  <!--    <a href="signup">Sign Up</a>-->
  <!--  </div>-->
  <!--</div>-->
  <form class="form-group" action="login" method="POST">
    {% csrf_token %}
    <!--<label style="color: #880000 ">{{ form.non_field_errors }}</label>-->
    {% bootstrap_form_errors form %}
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-user"></i></div>
            {{form.username}}
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
            {{form.password}}
        </div>
    </div>
    <button class="btn btn-primary btn-block" type="submit">Iniciar Sesión</button>
    <br>
    <!--<p>New to Playtherapy? <a href="/signup">Join now <i class="glyphicon glyphicon-arrow-right"></i></a></p>-->
  </form>
  
  
</div> <!-- /container -->

{% endblock %}

{% block specific-js %}
{% endblock %}
