{% extends "base.html" %}
{% load bootstrap3 %}

{% block specific-css %}
<style type="text/css">
.buttons{
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
}

.alert{
    padding: 5px 5px 5px 15px;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
{{ form.media }}

{% endblock %}

{% block content %}
{# ================ insert here all the content of the page =============== #}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            {% if create %}
                <h1 class="page-header">Crear Paciente</h1>
            {% else %}
                <h1 class="page-header">Modificar Paciente</h1>
            {% endif %}
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    {% if message %}
    <div class="row" id="message">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-12">
            <div class="alert {% if error %} alert-danger {% else %} alert-success {% endif %}">
                <strong>{{ message }}</strong>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-12">
            <!--<div class="panel panel-default">-->
                <!--<div class="panel-heading">-->
                    <!--Datos personales del paciente-->
                <!--</div>-->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-10 -col-sm-offset-1 col-md-12 col-md-offset-1 col-lg-12 col-lg-offset-0">
                            <form class="form-group-up form-horizontal" action="." method="POST">
                                {% csrf_token %}
                                <fieldset>
                                    <!--<legend>Datos personales del paciente</legend>-->
                                    <!--********************************** Nombres **********************************-->
                                    <div class="row">
                                        <label for="inputName" class="col-lg-2 control-label">Nombres</label>
                                        <div class="form-group col-lg-10" id="inputName">
                                            {{ form.name }}
                                        </div>
                                    </div>
                                    
                                    <!--********************************** Apellidos **********************************-->
                                    <div class="row">
                                        <label for="inputLastName" class="col-lg-2 control-label">Apellidos</label>
                                        <div class="form-group col-lg-10" id="inputLastName">
                                            {{ form.lastname }}
                                        </div>
                                    </div>
                                    
                                    <!--********************************** Tipo de documento **********************************-->
                                    <div class="row">
                                        <label for="inputTypeID" class="col-lg-2 control-label">Tipo de documento</label>
                                        <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                            {{ form.id_type }}
                                        </div>
                                    </div>
                                    
                                    <!--********************************** Numero de documento **********************************-->
                                    <div class="row">
                                        <label for="inputID" class="col-lg-2 control-label">Numero de documento</label>
                                        <div class="form-group col-lg-10" id="inputID">
                                            {{ form.id_num }}
                                        </div>
                                    </div>
                                    
                                    <!--********************************** Genero **********************************-->
                                    <div class="row">
                                        <label for="inputError" class="col-lg-2 control-label">Genero</label>
                                        <div class="form-group col-lg-10" id="inputGenres">
                                            {{ form.genre }}
                                            
                                            <!--<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">-->
                                            <!--    <div class="row">-->
                                            <!--        <label class="radio-inline col-lg-5 text-center">-->
                                            <!--            <input type="radio" name="genre" value="Masculino" {% if genre == 'Masculino' %} checked {% endif %} required>Masculino</input>-->
                                            <!--        </label>-->
                                            <!--        <label class="radio-inline col-lg-5 text-center">-->
                                            <!--            <input type="radio" name="genre" value="Femenino" {% if genre == 'Femenino' %} checked {% endif %} required>Femenino</input>-->
                                            <!--        </label>-->
                                            <!--    </div>-->
                                            <!--</div>-->
                                        </div>
                                    </div>
                                    
                                    <!--********************************** Ocupacion **********************************-->
                                    <div class="row">
                                        <label for="inputOcupation" class="col-lg-2 control-label">Ocupacion</label>
                                        <div class="form-group col-lg-10" id="inputOcupation">
                                            {{ form.occupation }}
                                            <!--{% if occupation %}-->
                                            <!--    <input name="occupation" class="form-control" placeholder="Ocupacion" type="text" value="{{ occupation }}">-->
                                            <!--{% else %}-->
                                            <!--    <input name="occupation" class="form-control" placeholder="Ocupacion" type="text">-->
                                            <!--{% endif %}-->
                                        </div>
                                    </div>
                                    
                                    <!--********************************** Fecha de nacimiento **********************************-->
                                    <div class="row">
                                        <label for="inputDateBirthday" class="col-lg-2 control-label">Fecha de nacimiento</label>
                                        <div class="form-group col-lg-10" id="inputDateBirthday">
                                            {{ form.birthday }}
                                        <!--{% if birthday %}-->
                                        <!--    <input name="birthday" class="form-control" placeholder="yyyy-mm-dd" data-format="dd/MM/yyyy hh:mm:ss" type="date" value="{{ birthday }}" required>-->
                                        <!--{% else %}-->
                                        <!--    <input name="birthday" class="form-control" placeholder="yyyy-mm-dd" data-format="dd/MM/yyyy hh:mm:ss" type="date" required>-->
                                        <!--{% endif %}-->
                                        </div>
                                    </div>
                                    
                                    <!--********************************** Entidad de salud **********************************-->
                                    <div class="row">
                                        <label for="inputEntity" class="col-lg-2 control-label">Entidad de salud</label>
                                        <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                            {{ form.entity }}
                                            <!--<select class="form-control" name="entity" required>-->
                                            <!--    <option {% if entidad == 'Comfandi' %} selected {% endif %}>Comfandi</option>-->
                                            <!--    <option>Saludcoop</option>-->
                                            <!--    <option>Magisalud</option>-->
                                            <!--    <option>Cafesalud</option>-->
                                            <!--    <option>Coomeva</option>-->
                                            <!--</select>-->
                                        </div>
                                    </div>
                                    
                                    {% if create %}
                                    <div class="row buttons">
                                        <div class="col-xs-12 col-sm-12  col-md-4 col-lg-4">
                                            <a href="/dashboard" type="return" class="btn btn-warning btn-block">
                                                Regresar
                                            </a>
                                        </div>
                                        <div class="col-xs-12 col-sm-12  col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                                            <button type="submit" class="btn btn-primary btn-block">
                                                Crear
                                            </button>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="row buttons">
                                        <div class="col-xs-12 col-sm-12  col-md-4 col-lg-4">
                                            <a href="/dashboard" type="return" class="btn btn-warning btn-block">
                                                Regresar
                                            </a>
                                        </div>
                                        <div class="col-xs-12 col-sm-12  col-md-4 col-lg-4">
                                            <button type="submit" class="btn btn-primary btn-block">
                                                Modificar
                                            </button>
                                        </div>
                                        <div class="col-xs-12 col-sm-12  col-md-4 col-lg-4">
                                            <a type="delete" class="btn btn-danger btn-block">
                                                Eliminar
                                            </a>
                                        </div>
                                    </div>
                                    {% endif %}
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            <!--</div>-->
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>

{% endblock %}

{% block specific-js %}
<script type="text/javascript">
function itemWithTimer(id, tiempo){
  $(id).show();
  setTimeout(function() { $(id).hide(); }, tiempo*1000);
}
itemWithTimer("#message", 5)
</script>
{% endblock %}