{% extends "base.html" %} {% load staticfiles %} 
{% block specific-css %}
<style type="text/css">
    .goalFim{
      background-color: #e4eaf7;
    }
</style>
<!-- DataTables CSS -->
<link href="{% static 'bootstrap-table/css/bootstrap-table.css' %}" rel="stylesheet">
<link rel="stylesheet" href="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css"> 
{% endblock %} 

{% block content %}
<div id="page-wrapper" class="FMI full-screen-w">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Medida de independencia funcional</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        {% include "panel_info_patient.html" %}
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="fixed-table-toolbar">
                        <div class="bs-bars pull-left">
                            <div id="toolbar">

                                <button id="new" class="btn btn-primary">
                                    <i class="glyphicon glyphicon-ok"></i> Nuevo
                                </button>

                            </div>
                        </div>
                    </div>


                    <table id="table-edit" data-pagination="true" data-page-size = 4 data-page-list="[4, 8, 10, 20, All]">
                         {% csrf_token %}
                    </table>


                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
{% endblock %} 

{% block specific-js %}
<script src="{% static 'bootstrap-table/js/bootstrap-table.js' %}"></script>
<script src="{% static 'bootstrap-table/js/bootstrap-table-editable.js' %}"></script>
<script src="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>
 <script src="{% static 'bootbox/bootbox.min.js' %}"></script>
<script>

bootbox.setDefaults({
  /**
   * @optional String
   * @default: en
   * which locale settings to use to translate the three
   * standard button labels: OK, CONFIRM, CANCEL
   */
  locale: "es",
  
});


$(function() {
         $('#table-edit').bootstrapTable({
            url: '{% url 'datos_lista_FIM' patient_id=patient.id_num  %}',
            columns: [
                [ {
                        title: 'ID',
                        field: 'num',
                        rowspan: 3,
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                    },{
                        title: 'ID',
                        field: 'id',
                        rowspan: 3,
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        visible: false,
                    },{
                        title: 'patient',
                        field: 'patient',
                        rowspan: 3,
                        align: 'center',
                        valign: 'middle',
                        visible: false,
                    },{
                        title: 'FECHA',
                        field : 'date',
                        sortable: true,
                        rowspan: 3,
                        align: 'center',
                        valign: 'middle',
                        editable: {
                            type: 'date',
                            format: 'yyyy-mm-dd',    
                            viewformat: 'yyyy-mm-dd',
                            clear: '&times; Limpiar',
                        }
                    },{
                        title: 'META',
                        field: 'goal',
                        align: 'center',
                        rowspan: 3,
                        valign: 'middle',
                        editable: {
                            type: 'select',
                            emptytext: 'No',
                            source: [
                                  {value: 1, text: 'Si'},
                                  {value: 0, text: 'No'}
                               ]
                        }
                    },
                    {
                        title: 'Movimiento',
                        colspan: 13,
                        align: 'center'
                    }, {
                        title: 'Reconocimiento',
                        colspan: 5,
                        align: 'center'
                    }, {
                        title: 'Total',
                        rowspan: 3,
                        field: 'total',
                        valign: 'middle',
                        align: 'center'
                    },{
                        field: 'operate',
                        rowspan: 3,
                        title: 'Operaciones',
                        valign: 'middle',
                        align: 'center',
                        events: operateEvents,
                        formatter: operateFormatter
                    }
                ],
                [
                    {
                        title: 'AUTOCUIDADO',
                        colspan: '6',
                        sortable: true,
                        align: 'center',
                    }, {
                        title: 'C. DE ESFINTERES',
                        titleTooltip: 'CONTROL DE ESFINTERES',
                        align: 'center',
                        align: 'center',
                        colspan: '2'
                    },{
                        title: 'TRASLADARSE',
                        align: 'center',
                        align: 'center',
                        colspan: '3'
                    },{
                        title: 'MOVILIDAD',
                        align: 'center',
                        align: 'center',
                        colspan: '2'
                    },{
                        title: 'COMUNICACION',
                        align: 'center',
                        align: 'center',
                        colspan: '2'
                    },{
                        title: 'COGNICION SOCIAL',
                        align: 'center',
                        align: 'center',
                        colspan: '3'
                    }
                ],
                [
                    {
                        title: 'Comer',
                        field: 'eat',
                        titleTooltip: 'Comer',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: {
                            type: 'number',
                            min: '1',
                            max: '7'
                        }
                    },
                    {
                        title: 'AP',
                        titleTooltip: 'Aseo Personal',
                        field: 'personal_clean',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: {
                            type: 'number',
                            min: '1',
                            max: '7'
                        }
                    },
                    {
                        title: 'B/D',
                        titleTooltip: 'Bañarse/Ducharse',
                        field: 'bath',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: {
                            type: 'number',
                            min: '1',
                            max: '7'
                        }
                    },
                    {
                        title: 'V/D (Sup)',
                        titleTooltip: 'Vestirse/Desvestirse Superior',
                        field: 'dress_undress_sup',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: {
                            type: 'number',
                            min: '1',
                            max: '7'
                        }
                    },
                    {
                        title: 'V/D (Inf)',
                        titleTooltip: 'Vestirse/Desvestirse Inferior',
                        field: 'dress_undress_inf',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: {
                            type: 'number',
                            min: '1',
                            max: '7'
                        }
                    },
                    {
                        title: 'UB',
                        titleTooltip: 'Uso del Baño',
                        field: 'bathUse',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: {
                            type: 'number',
                            min: '1',
                            max: '7'
                        }
                    },
                    {
                        title: 'CH',
                        titleTooltip: 'Control de Heces',
                        field: 'control_dregs',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: {
                            type: 'number',
                            min: '1',
                            max: '7'
                        }
                    },
                    {
                        title: 'COr',
                        titleTooltip: 'Control de Orina',
                        field: 'control_urine',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: {
                            type: 'number',
                            min: '1',
                            max: '7'
                        }
                    },
                    {
                        title: 'C-S-SR',
                        titleTooltip: 'Cama, Silla y Silla de Ruedas',
                        field: 'tras_bed_chair',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: {
                            type: 'number',
                            min: '1',
                            max: '7'
                        }
                    },
                    {
                        title: 'Baño',
                        titleTooltip: 'Baño',
                        field: 'tras_bath',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: {
                            type: 'number',
                            min: '1',
                            max: '7'
                        }
                    },
                    {
                        title: 'Ducha',
                        titleTooltip: 'Ducha',
                        field: 'tras_shower',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: {
                            type: 'number',
                            min: '1',
                            max: '7'
                        }
                    },
                    {
                        title: 'M-SR-G',
                        titleTooltip: 'Marcha, Silla de Ruedas y Gateo',
                        field: 'run_crawl_chair',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: {
                            type: 'number',
                            min: '1',
                            max: '7'
                        }
                    },
                    {
                        title: 'Gr.',
                        titleTooltip: 'Gradas',
                        field: 'steps',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: {
                            type: 'number',
                            min: '1',
                            max: '7'
                        },
                    },
                    {
                        title: 'Comp.',
                        titleTooltip: 'Compresión',
                        field: 'compresion',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: {
                            type: 'number',
                            min: '1',
                            max: '7'
                        }
                    },{
                        title: 'Exp.',
                        titleTooltip: 'Expresión',
                        field: 'expresion',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: {
                            type: 'number',
                            min: '1',
                            max: '7'
                        }
                    },{
                        title: 'IS',
                        titleTooltip: 'Interacción Social',
                        field: 'social_inter',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: {
                            type: 'number',
                            min: '1',
                            max: '7'
                        },
                    },
                    {
                        title: 'RP',
                        titleTooltip: 'Resolver Problema',
                        field: 'problem_solve',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: {
                            type: 'number',
                            min: '1',
                            max: '7'
                        }
                    },
                    {
                        title: 'Mem.',
                        titleTooltip: 'Memoria',
                        field: 'memory',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: {
                            type: 'number',
                            min: '1',
                            max: '7'
                        }
                    }
                    ]
            ]
        });
        
   

});
    
    function operateFormatter(value, row, index) {
        return [
            '<a class="like" href="javascript:void(1)" title="Like">',
            '<i class="glyphicon glyphicon-floppy-save"></i>',
            '</a>  ',
            '<a class="remove" href="javascript:void(0)" title="Remove">',
            '<i class="glyphicon glyphicon-remove"></i>',
            '</a>'
        ].join('');
    }
    
    
    window.operateEvents = {
        'click .like': function (e, value, row, index) {
            
            row['csrfmiddlewaretoken'] = "{{csrf_token}}";
 
             $.ajax({
                    url : '{% url 'save_list_FIM' %}',
                    type: "POST",
                    data: row,
                    success : function(data) {
                        if(data.success){
                            bootbox.alert(data.message);
                            $('#table-edit').bootstrapTable('refresh', {});	
                        }else{
                            bootbox.alert(data.errors);
                        }
                    },
            
                    // handle a non-successful response
                    error : function(xhr,errmsg,err) {
                        $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                            " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }

            });
        },
        'click .remove': function (e, value, row, index) {
            bootbox.confirm("¿Está seguro de borrar este registro?", 
                function(result){ 
                    if(result){
                        post = {id: row['id'], csrfmiddlewaretoken: "{{csrf_token}}"}
                        $.ajax({
                            url : '{% url 'delete_list_FIM' %}',
                            type: "POST",
                            data: post,
                            success : function(data) {
                                if(data.success){
                                    bootbox.alert(data.message);
                                    $('#table-edit').bootstrapTable('refresh', {});	
                                }else{
                                    bootbox.alert(data.error);
                                }
                            },
                
                        // handle a non-successful response
                            error : function(xhr,errmsg,err) {
                                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                            }
    
                        });
                        
                       
                    }
                });

        }
    };
    
$( "#new" ).click(function() {
  var fim = {
        patient : '{{patient.id}}',
        date: fechahoy(),
        goal: 0,
        eat : 1,
        personal_clean : 1,
        bath : 1,
        dress_undress_sup : 1,
        dress_undress_inf : 1,
        bathUse : 1,
        control_dregs : 1,
        control_urine  : 1,
        tras_bed_chair : 1,
        tras_bath : 1,
        tras_shower : 1,
        run_crawl_chair : 1,
        steps : 1,
        compresion : 1,
        expresion : 1,
        social_inter : 1,
        problem_solve : 1,
        memory : 1,
  } ;
  $('#table-edit').bootstrapTable('insertRow', {index: 0, row: fim });
  $('#table-edit').bootstrapTable('check', 0);
});


$('#table-edit').on('reset-view.bs.table', function (e) {
    $('#table-edit').find('[data-name="goal"][data-value="1"]').parents('tr').addClass('goalFim');
});


function fechahoy(){
var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!

var yyyy = today.getFullYear();
if(dd<10){
    dd='0'+dd
} 
if(mm<10){
    mm='0'+mm
} 
var today = yyyy+'-'+mm+'-'+dd;
return today;
}

</script>




{% endblock %}
