{% extends "base.html" %} {% load staticfiles %} {% block specific-css %}
<!-- DataTables CSS -->
<link href="{% static 'bootstrap-table/css/bootstrap-table.css' %}" rel="stylesheet">
<link rel="stylesheet" href="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css"> {% endblock %} {% block content %}
<div id="page-wrapper" class="FMI full-screen-w">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Medida de independencia funcional</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="fixed-table-toolbar">
                        <div class="bs-bars pull-left">
                            <div id="toolbar">
                                <button id="remove" class="btn btn-success">
                                    <i class="glyphicon glyphicon-floppy-save"></i> Guardar
                                </button>
                                <button id="new" class="btn btn-primary">
                                    <i class="glyphicon glyphicon-ok"></i> Nuevo
                                </button>
                                <button id="remove" class="btn btn-danger">
                                    <i class="glyphicon glyphicon-remove"></i> Borrar
                                </button>
                            </div>
                        </div>

                        <div class="pull-right search"><input class="form-control" type="text" placeholder="Buscar"></div>
                    </div>


                    <table id="table-edit">
                    </table>


                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
{% endblock %} {% block specific-js %}
<script src="{% static 'bootstrap-table/js/bootstrap-table.js' %}"></script>
<script src="{% static 'bootstrap-table/js/bootstrap-table-editable.js' %}"></script>
<script src="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>
<script>


$(function() {
         $('#table-edit').bootstrapTable({
            url: '{% url 'datos_lista_FIM' patient_id=patient.id_num  %}',
            columns: [
                [
                    {
                        field: 'state',
                        checkbox: true,
                        rowspan: 3,
                        align: 'center',
                        valign: 'middle'
                    }, {
                        title: 'ID',
                        field: 'id',
                        rowspan: 3,
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                    },{
                        title: 'FECHA',
                        field : 'fecha',
                        sortable: true,
                        rowspan: 3,
                        align: 'center',
                        valign: 'middle',
                        editable: {
                            type: 'date',
                        format: 'yyyy-mm-dd',    
                        viewformat: 'yyyy-mm-dd',
                        clear: '&times; Limpiar',
                        }
                    },
                    {
                        title: 'Movimiento',
                        colspan: 13,
                        align: 'center'
                    }, {
                        title: 'Reconocimiento',
                        colspan: 5,
                        align: 'center'
                    }, {
                        title: 'Total',
                        rowspan: 3,
                        field: 'total',
                        valign: 'middle',
                        align: 'center'
                    }
                ],
                [
                    {
                        title: 'AUTOCUIDADO',
                        colspan: '6',
                        sortable: true,
                        align: 'center',
                    }, {
                        title: 'CONTROL DE ESFINTERES',
                        align: 'center',
                        align: 'center',
                        colspan: '2'
                    },{
                        title: 'TRASLADARSE',
                        align: 'center',
                        align: 'center',
                        colspan: '3'
                    },{
                        title: 'MOVILIDAD',
                        align: 'center',
                        align: 'center',
                        colspan: '2'
                    },{
                        title: 'COMUNICACION',
                        align: 'center',
                        align: 'center',
                        colspan: '2'
                    },{
                        title: 'COGNICION SOCIAL',
                        align: 'center',
                        align: 'center',
                        colspan: '3'
                    }
                ],
                [
                    {
                        title: 'Comer',
                        field: 'comer',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: {
                            type: 'number',
                            min: '0',
                            max: '7'
                        }
                    },
                    {
                        title: 'Aseo personal',
                        field: 'aseopersonal',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: {
                            type: 'number'
                        }
                    },
                    {
                        title: 'Bañarse/Ducharse',
                        field: 'banarse',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: {
                            type: 'number'
                        }
                    },
                    {
                        title: 'Vestirse/Desvestirse (Sup)',
                        field: 'vestsup',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: {
                            type: 'number'
                        }
                    },
                    {
                        title: 'Vestirse/Desvestirse (Inf)',
                        field: 'vestinf',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: {
                            type: 'number'
                        }
                    },
                    {
                        title: 'Uso baño',
                        field: 'usobano',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: {
                            type: 'number'
                        }
                    },
                    {
                        title: 'Control de heces',
                        field: 'controlheces',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: {
                            type: 'number'
                        }
                    },
                    {
                        title: 'Control de orina',
                        field: 'controlorina',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: {
                            type: 'number'
                        }
                    },
                    {
                        title: 'Cama, silla, silla de ruedas',
                        field: 'camasilla',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: {
                            type: 'number'
                        }
                    },
                    {
                        title: 'Baño',
                        field: 'bano',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: {
                            type: 'number'
                        }
                    },
                    {
                        title: 'Ducha',
                        field: 'ducha',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: {
                            type: 'number'
                        }
                    },
                    {
                        title: 'Marcha, silla de ruedas, gateo',
                        field: 'marcha',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: {
                            type: 'number'
                        }
                    },
                    {
                        title: 'Gradas',
                        field: 'gradas',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: true,
                    },
                    {
                        title: 'Comprensión',
                        field: 'comprension',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: {
                            type: 'number'
                        }
                    },{
                        title: 'Expresión',
                        field: 'expresion',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: {
                            type: 'number'
                        }
                    },{
                        title: 'Interacción social',
                        field: 'intsocial',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: true,
                    },
                    {
                        title: 'Resolver problema',
                        field: 'resolvpro',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: {
                            type: 'number'
                        }
                    },
                    {
                        title: 'Memoria',
                        field: 'memoria',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        editable: {
                            type: 'number'
                        }
                    }
                    ]
            ]
        });

});
    
$( "#new" ).click(function() {
  var fim = {} ;
  $('#table-edit').bootstrapTable('insertRow', {index: 0, row: fim });
  $('#table-edit').bootstrapTable('check', 0);
});
</script>




{% endblock %}
