{% extends "base.html" %}

{% block specific-css %}
<style type="text/css">
  /*.scrollable-menu {*/
  /*  height: auto;*/
  /*  max-height: 200px;*/
  /*  width: 100%;*/
  /*  overflow-x: hidden;*/
  /*}*/
  /*.dropdown-button{*/
  /*  width: 100%;*/
    /*text-align: left;*/
  /*}*/
  /*.text-left{*/
  /*  text-align: left;*/
  /*}*/
  
  /*.input-group{*/
  /*  float: left;*/
  /*  margin-bottom: 15px;*/
  /*}*/
</style>
{% endblock %}



{% block content %}
{# ================ insert here all the content of the page =============== #}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Crear Paciente</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Datos personales del paciente
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-10 -col-sm-offset-1 col-md-12 col-md-offset-1 col-lg-12 col-lg-offset-0">
                            <form class="form-group-up form-horizontal" action="./account" method="POST">
                                {% csrf_token %}
                                <fieldset>
                                    <!--<legend>Datos personales del paciente</legend>-->
                                    <!--********************************** Nombres **********************************-->
                                    <div class="row">
                                        <label for="inputEmail" class="col-lg-2 control-label">Nombres</label>
                                        <div class="form-group col-lg-10" id="inputEmail">
                                            <input name="nombres" class="form-control" placeholder="Nombres" type="text">
                                        </div>
                                    </div>
                                    
                                    <!--********************************** Apellidos **********************************-->
                                    <div class="row">
                                        <label for="inputEmail" class="col-lg-2 control-label">Apellidos</label>
                                        <div class="form-group col-lg-10" id="inputEmail">
                                            <input name="apellidos" class="form-control" placeholder="Apellidos" type="text">
                                        </div>
                                    </div>
                                    
                                    <!--********************************** Tipo de documento **********************************-->
                                    <div class="row">
                                        <label for="inputEmail" class="col-lg-2 control-label">Tipo de documento</label>
                                        <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                            <select class="form-control">
                                                <option>Cedula de ciudadania</option>
                                                <option>Tarjeta de identidad</option>
                                                <option>Numero de pasaporte</option>
                                                <option>Cedula de extranjeria</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <!--********************************** Numero de documento de salud **********************************-->
                                    <div class="row">
                                        <label for="inputEmail" class="col-lg-2 control-label">Numero de documento</label>
                                        <div class="form-group col-lg-10" id="inputEmail">
                                            <input name="num_documento" class="form-control" placeholder="Numero de documento" type="text">
                                        </div>
                                    </div>
                                    
                                    <!--********************************** Genero **********************************-->
                                    <div class="row">
                                        <div class="form-group" id="inputGenres">
                                            <label for="inputError" class="col-lg-2 control-label">Genero</label>
                                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                <div class="row">
                                                    <label class="radio-inline col-lg-5 text-center">
                                                        <input type="radio" name="optionsRadiosInline">Masculino</input>
                                                    </label>
                                                    <label class="radio-inline col-lg-5 text-center">
                                                        <input type="radio" name="optionsRadiosInline">Femenino</input>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!--********************************** Ocupacion **********************************-->
                                    <div class="row">
                                        <label for="inputEmail" class="col-lg-2 control-label">Ocupacion</label>
                                        <div class="form-group col-lg-10" id="inputEmail">
                                          <input name="ocupacion" class="form-control" placeholder="Ocupacion" type="text">
                                        </div>
                                    </div>
                                    
                                    <!--********************************** Fecha de nacimiento **********************************-->
                                    <div class="row">
                                        <label for="inputEmail" class="col-lg-2 control-label">Fecha de nacimiento</label>
                                        <div class="form-group col-lg-10" id="inputEmail">
                                          <input name="fecha_nacimiento" class="form-control" placeholder="Fecha de nacimiento" type="text">
                                        </div>
                                    </div>
                                    
                                    <!--********************************** Entidad de salud **********************************-->
                                    <div class="row">
                                        <label for="inputEmail" class="col-lg-2 control-label">Entidad de salud</label>
                                        <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                            <select class="form-control">
                                                <option>Tiki</option>
                                                <option>Tikilan</option>
                                                <option>tiki el timbiliki</option>
                                            </select>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <!--<div class="row">-->
                    <!--    <div class="col-lg-6">-->
                    <!--        <form role="form">-->
                    <!--            <div class="form-group">-->
                    <!--                <label>Text Input</label>-->
                    <!--                <input class="form-control">-->
                    <!--                <p class="help-block">Example block-level help text here.</p>-->
                    <!--            </div>-->
                    <!--            <div class="form-group">-->
                    <!--                <label>Text Input with Placeholder</label>-->
                    <!--                <input class="form-control" placeholder="Enter text">-->
                    <!--            </div>-->
                    <!--            <div class="form-group">-->
                    <!--                <label>Static Control</label>-->
                    <!--                <p class="form-control-static">email@example.com</p>-->
                    <!--            </div>-->
                    <!--            <div class="form-group">-->
                    <!--                <label>File input</label>-->
                    <!--                <input type="file">-->
                    <!--            </div>-->
                    <!--            <div class="form-group">-->
                    <!--                <label>Text area</label>-->
                    <!--                <textarea class="form-control" rows="3"></textarea>-->
                    <!--            </div>-->
                    <!--            <div class="form-group">-->
                    <!--                <label>Checkboxes</label>-->
                    <!--                <div class="checkbox">-->
                    <!--                    <label>-->
                    <!--                        <input type="checkbox" value="">Checkbox 1-->
                    <!--                    </label>-->
                    <!--                </div>-->
                    <!--                <div class="checkbox">-->
                    <!--                    <label>-->
                    <!--                        <input type="checkbox" value="">Checkbox 2-->
                    <!--                    </label>-->
                    <!--                </div>-->
                    <!--                <div class="checkbox">-->
                    <!--                    <label>-->
                    <!--                        <input type="checkbox" value="">Checkbox 3-->
                    <!--                    </label>-->
                    <!--                </div>-->
                    <!--            </div>-->
                    <!--            <div class="form-group">-->
                    <!--                <label>Inline Checkboxes</label>-->
                    <!--                <label class="checkbox-inline">-->
                    <!--                    <input type="checkbox">1-->
                    <!--                </label>-->
                    <!--                <label class="checkbox-inline">-->
                    <!--                    <input type="checkbox">2-->
                    <!--                </label>-->
                    <!--                <label class="checkbox-inline">-->
                    <!--                    <input type="checkbox">3-->
                    <!--                </label>-->
                    <!--            </div>-->
                    <!--            <div class="form-group">-->
                    <!--                <label>Radio Buttons</label>-->
                    <!--                <div class="radio">-->
                    <!--                    <label>-->
                    <!--                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Radio 1-->
                    <!--                    </label>-->
                    <!--                </div>-->
                    <!--                <div class="radio">-->
                    <!--                    <label>-->
                    <!--                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Radio 2-->
                    <!--                    </label>-->
                    <!--                </div>-->
                    <!--                <div class="radio">-->
                    <!--                    <label>-->
                    <!--                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">Radio 3-->
                    <!--                    </label>-->
                    <!--                </div>-->
                    <!--            </div>-->
                    <!--            <div class="form-group">-->
                    <!--                <label>Inline Radio Buttons</label>-->
                    <!--                <label class="radio-inline">-->
                    <!--                    <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked>1-->
                    <!--                </label>-->
                    <!--                <label class="radio-inline">-->
                    <!--                    <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">2-->
                    <!--                </label>-->
                    <!--                <label class="radio-inline">-->
                    <!--                    <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline3" value="option3">3-->
                    <!--                </label>-->
                    <!--            </div>-->
                    <!--            <div class="form-group">-->
                    <!--                <label>Selects</label>-->
                    <!--                <select class="form-control">-->
                    <!--                    <option>1</option>-->
                    <!--                    <option>2</option>-->
                    <!--                    <option>3</option>-->
                    <!--                    <option>4</option>-->
                    <!--                    <option>5</option>-->
                    <!--                </select>-->
                    <!--            </div>-->
                    <!--            <div class="form-group">-->
                    <!--                <label>Multiple Selects</label>-->
                    <!--                <select multiple class="form-control">-->
                    <!--                    <option>1</option>-->
                    <!--                    <option>2</option>-->
                    <!--                    <option>3</option>-->
                    <!--                    <option>4</option>-->
                    <!--                    <option>5</option>-->
                    <!--                </select>-->
                    <!--            </div>-->
                    <!--            <button type="submit" class="btn btn-default">Submit Button</button>-->
                    <!--            <button type="reset" class="btn btn-default">Reset Button</button>-->
                    <!--        </form>-->
                    <!--    </div>-->
                        <!-- /.col-lg-6 (nested) -->
                    <!--    <div class="col-lg-6">-->
                    <!--        <h1>Disabled Form States</h1>-->
                    <!--        <form role="form">-->
                                <!--<fieldset disabled>-->
                    <!--                <div class="form-group">-->
                    <!--                    <label for="disabledSelect">Disabled input</label>-->
                    <!--                    <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled>-->
                    <!--                </div>-->
                    <!--                <div class="form-group">-->
                    <!--                    <label for="disabledSelect">Disabled select menu</label>-->
                    <!--                    <select id="disabledSelect" class="form-control">-->
                    <!--                        <option>Disabled select</option>-->
                    <!--                        <option>tiki</option>-->
                    <!--                        <option>tikilan</option>-->
                    <!--                    </select>-->
                    <!--                </div>-->
                    <!--                <div class="checkbox">-->
                    <!--                    <label>-->
                    <!--                        <input type="checkbox">Disabled Checkbox-->
                    <!--                    </label>-->
                    <!--                </div>-->
                    <!--                <button type="submit" class="btn btn-primary">Disabled Button</button>-->
                                <!--</fieldset>-->
                    <!--        </form>-->
                    <!--        <h1>Form Validation States</h1>-->
                    <!--        <form role="form">-->
                    <!--            <div class="form-group has-success">-->
                    <!--                <label class="control-label" for="inputSuccess">Input with success</label>-->
                    <!--                <input type="text" class="form-control" id="inputSuccess">-->
                    <!--            </div>-->
                    <!--            <div class="form-group has-warning">-->
                    <!--                <label class="control-label" for="inputWarning">Input with warning</label>-->
                    <!--                <input type="text" class="form-control" id="inputWarning">-->
                    <!--            </div>-->
                    <!--            <div class="form-group has-error">-->
                    <!--                <label class="control-label" for="inputError">Input with error</label>-->
                    <!--                <input type="text" class="form-control" id="inputError">-->
                    <!--            </div>-->
                    <!--        </form>-->
                    <!--        <h1>Input Groups</h1>-->
                    <!--        <form role="form">-->
                    <!--            <div class="form-group input-group">-->
                    <!--                <span class="input-group-addon">@</span>-->
                    <!--                <input type="text" class="form-control" placeholder="Username">-->
                    <!--            </div>-->
                    <!--            <div class="form-group input-group">-->
                    <!--                <input type="text" class="form-control">-->
                    <!--                <span class="input-group-addon">.00</span>-->
                    <!--            </div>-->
                    <!--            <div class="form-group input-group">-->
                    <!--                <span class="input-group-addon"><i class="fa fa-eur"></i>-->
                    <!--                </span>-->
                    <!--                <input type="text" class="form-control" placeholder="Font Awesome Icon">-->
                    <!--            </div>-->
                    <!--            <div class="form-group input-group">-->
                    <!--                <span class="input-group-addon">$</span>-->
                    <!--                <input type="text" class="form-control">-->
                    <!--                <span class="input-group-addon">.00</span>-->
                    <!--            </div>-->
                    <!--            <div class="form-group input-group">-->
                    <!--                <input type="text" class="form-control">-->
                    <!--                <span class="input-group-btn">-->
                    <!--                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i>-->
                    <!--                    </button>-->
                    <!--                </span>-->
                    <!--            </div>-->
                    <!--        </form>-->
                    <!--    </div>-->
                        <!-- /.col-lg-6 (nested) -->
                    <!--</div>-->
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    </div>
<!--<div class="container full-screen-w" style="display:none;" id="main-content">-->
<!--  <div class="row">-->
<!--    <div class="col-xs-6 col-xs-offset-3 col-sm-6 -col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2">-->
<!--      <form class="form-group-up form-horizontal" action="./account" method="POST">-->
<!--        {% csrf_token %}-->
        <!--<fieldset>-->
<!--          <legend>Datos personales del paciente</legend>-->
          <!--********************************** Nombres **********************************-->
<!--          <div class="row">-->
<!--            <label for="inputEmail" class="col-lg-2 control-label">Nombres</label>-->
<!--            <div class="form-group col-lg-10" id="inputEmail">-->
<!--              <input name="nombres" class="form-control" placeholder="Nombres" type="text">-->
<!--            </div>-->
<!--          </div>-->
          
          <!--********************************** Apellidos **********************************-->
<!--          <div class="row">-->
<!--            <label for="inputEmail" class="col-lg-2 control-label">Apellidos</label>-->
<!--            <div class="form-group col-lg-10" id="inputEmail">-->
<!--              <input name="apellidos" class="form-control" placeholder="Apellidos" type="text">-->
<!--            </div>-->
<!--          </div>-->
          
          <!--********************************** Tipo de documento **********************************-->
<!--          <div class="row">-->
<!--            <label for="inputEmail" class="col-lg-2 control-label">Tipo de documento</label>-->
<!--            <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">-->
<!--              <div class="dropdown">-->
<!--                <button class="btn btn-default dropdown-toggle dropdown-button bg-default text-left" type="button" id="btnGenre" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
<!--                  Tipo de documento-->
<!--                  <span class="caret"></span>-->
<!--                </button>-->
<!--                <ul id="genres-list" class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenu1">-->
<!--                  {% for gen in genres %}-->
<!--                    <li><a data-genre="{{ gen.0 }}" data-genrename="{{ gen.1 }}" href="#">{{ gen.1 }}</a></li>-->
<!--                  {% endfor %}-->
<!--                  <li><a href="#">Cedula de ciudadania</a></li>-->
<!--                  <li><a href="#">Tarjeta de identidad</a></li>-->
<!--                  <li><a href="#">Numero de pasaporte</a></li>-->
<!--                  <li><a href="#">Cedula de extranjeria</a></li>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
          
          <!--********************************** Numero de documento de salud **********************************-->
<!--          <div class="row">-->
<!--            <label for="inputEmail" class="col-lg-2 control-label">Numero de documento</label>-->
<!--            <div class="form-group col-lg-10" id="inputEmail">-->
<!--              <input name="num_documento" class="form-control" placeholder="Numero de documento" type="text">-->
<!--            </div>-->
<!--          </div>-->
          
          <!--********************************** Genero **********************************-->
<!--          <div class="row">-->
<!--            <div class="form-group" id="inputGenres">-->
<!--              <label for="inputError" class="col-lg-2 control-label">Genero</label>-->
<!--              <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">-->
<!--                <div class="col-lg-6 text-center">-->
<!--                  <input type="radio" name="optradio">Masculino</input>-->
<!--                </div>-->
<!--                <div class="col-lg-6 text-center">-->
<!--                  <input type="radio" name="optradio">Femenino</input>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
          
          <!--********************************** Ocupacion **********************************-->
<!--          <div class="row">-->
<!--            <label for="inputEmail" class="col-lg-2 control-label">Ocupacion</label>-->
<!--            <div class="form-group col-lg-10" id="inputEmail">-->
<!--              <input name="ocupacion" class="form-control" placeholder="Ocupacion" type="text">-->
<!--            </div>-->
<!--          </div>-->
          
          <!--********************************** Fecha de nacimiento **********************************-->
<!--          <div class="row">-->
<!--            <label for="inputEmail" class="col-lg-2 control-label">Fecha de nacimiento</label>-->
<!--            <div class="form-group col-lg-10" id="inputEmail">-->
<!--              <input name="fecha_nacimiento" class="form-control" placeholder="Fecha de nacimiento" type="text">-->
<!--            </div>-->
<!--          </div>-->
          
          <!--********************************** FIM inicial y final **********************************-->
          <!--<div class="row">-->
          <!--  <label for="inputEmail" class="col-lg-2 control-label">FIM inicial</label>-->
          <!--  <div class="form-group col-lg-10" id="inputEmail">-->
          <!--    <input name="fecha_nacimiento" class="form-control" placeholder="FIM inicial" type="text">-->
          <!--  </div>-->
          <!--</div>-->
          
          <!--<div class="row">-->
          <!--  <label for="inputEmail" class="col-lg-2 control-label">FIM final</label>-->
          <!--  <div class="form-group col-lg-10" id="inputEmail">-->
          <!--    <input name="fecha_nacimiento" class="form-control" placeholder="FIM final" type="text">-->
          <!--  </div>-->
          <!--</div>-->
          
          <!--********************************** Entidad de salud **********************************-->
<!--          <div class="row">-->
<!--            <label for="inputEmail" class="col-lg-2 control-label">Entidad de salud</label>-->
<!--            <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">-->
<!--              <div class="dropdown">-->
<!--                <button class="btn  btn-default dropdown-toggle dropdown-button bg-primary text-left" type="button" id="btnUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
<!--                  Entidad-->
<!--                  <span class="caret"></span>-->
<!--                </button>-->
<!--                <ul id="username-list" class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenu1">-->
<!--                  {% for gen in genres %}-->
<!--                    <li><a data-username="{{ gen.0 }}" href="#">{{ gen.1 }}</a></li>-->
<!--                  {% endfor %}-->
<!--                  <li><a data-username="Action" href="#">Action</a></li>-->
<!--                  <li><a data-username="Another action" href="#">Another action</a></li>-->
<!--                  <li><a data-username="Something else here" href="#">Something else here</a></li>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          {% if success %}-->
<!--          <div class="form-group">-->
<!--            <div class="col-lg-12 ">-->
<!--              <div class="alert alert-success col-md-10 col-md-offset-2">-->
<!--                <strong>Success!</strong>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          {% endif %}-->
          <!--<div class="form-group">-->
          <!--  <div class="col-xs-6 col-sm-6 col-lg-5 col-lg-offset-2">-->
          <!--    <button type="submit" class="btn btn-primary" id="button-changes">Save changes</button>-->
          <!--  </div>-->
          <!--  <div class="col-xs-5 col-sm-5 col-lg-5 text-right">-->
          <!--    <button type="button" class="btn btn-warning" data-toggle="modal" data-target=".bs-example-modal-sm" id="todisable">Disable account</button>-->
          <!--  </div>-->
          <!--</div>-->
          <!-- Info -->
<!--          {% if auditor %}-->
<!--          <legend>Auditor</legend>-->
<!--          <div class="form-group">-->
            <!--<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">-->
              
            <!--</div>-->
<!--            <div class="col-lg-2">-->
<!--              <label class="control-label"></label>-->
<!--            </div>-->
<!--            <div class="col-lg-10">-->
<!--              <a class="btn btn-info" href="/reports/statistics">Reports and Statistics</a>-->
<!--            </div>-->
            <!--<div class="col-lg-10 col-lg-offset-2">
<!--              <a class="btn btn-info" href="./statistics">Reports and Statistics</a>-->
<!--            </div>-->-->
<!--          </div>-->
<!--          {% endif %}-->
          <!-- End Info -->
          
          
          <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>-->
          <!-- Modal for deactivate account -->
          <!--<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">-->
          <!--  <div class="modal-dialog modal-sm">-->
          <!--    <div class="modal-content">-->
          <!--      <div class="modal-body">-->
          <!--        Are you sure?-->
          <!--      </div>-->
          <!--      <div class="modal-footer">-->
          <!--        <button type="button" class="btn btn-default" id="close" data-dismiss="modal">Cancel</button>-->
          <!--        <input name="op" value="modify" id="op" style="display:none" />-->
          <!--        <button type="submit" class="btn btn-danger" id="dodisable">Continue</button>-->
          <!--      </div>-->
          <!--    </div>-->
          <!--  </div>-->
          <!--</div>-->
          
          
        <!--</fieldset>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
{% endblock %}

{% block specific-js %}
{% endblock %}